<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net45" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net45" />
  <package id="YamlDotNet" version="5.0.2-pre0495" targetFramework="net45" />
</packages>